/* @tailwind base; */

.m-0 {
  margin: 0px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-3 {
  margin-top: 0.75rem
}

.block {
  display: block
}

.h-\[40px\] {
  height: 40px
}

.h-auto {
  height: auto
}

.w-1\/2 {
  width: 50%
}

.w-\[250px\] {
  width: 250px
}

.cursor-pointer {
  cursor: pointer
}

.bg-indigo-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity))
}

.bg-lime-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(132 204 22 / var(--tw-bg-opacity))
}

.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity))
}

.p-0 {
  padding: 0px
}

.p-\[50px\] {
  padding: 50px
}

.text-center {
  text-align: center
}

.capitalize {
  text-transform: capitalize
}

.leading-7 {
  line-height: 1.75rem
}

.leading-\[40px\] {
  line-height: 40px
}

.text-\[\#2b2b2b\] {
  --tw-text-opacity: 1;
  color: rgb(43 43 43 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.no-underline {
  text-decoration-line: none
}

.shadow-\[0_850px_300px_700px_black\] {
  --tw-shadow: 0 850px 300px 700px black;
  --tw-shadow-colored: 0 850px 300px 700px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-300 {
  transition-duration: 300ms
}

.duration-\[1s\] {
  transition-duration: 1s
}

.ease-linear {
  transition-timing-function: linear
}

.hover\:bg-lime-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(163 230 53 / var(--tw-bg-opacity))
}

.hover\:text-orange-500:hover {
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity))
}

.hover\:text-purple-700:hover {
  --tw-text-opacity: 1;
  color: rgb(126 34 206 / var(--tw-text-opacity))
}

.hover\:shadow-\[0_35px_65px_15px_grey\]:hover {
  --tw-shadow: 0 35px 65px 15px grey;
  --tw-shadow-colored: 0 35px 65px 15px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:bg-orange-700:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(194 65 12 / var(--tw-bg-opacity))
}

.focus\:ring-inset:focus {
  --tw-ring-inset: inset
}

.active\:bg-\[green\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(0 128 0 / var(--tw-bg-opacity))
}

.active\:bg-lime-600:active {
  --tw-bg-opacity: 1;
  background-color: rgb(101 163 13 / var(--tw-bg-opacity))
}

.group\/p:hover .group-hover\/p\:bg-orange-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(194 65 12 / var(--tw-bg-opacity))
}

.group:hover .group-hover\:bg-\[\#2b2b2b\] {
  --tw-bg-opacity: 1;
  background-color: rgb(43 43 43 / var(--tw-bg-opacity))
}

.group:hover .group-hover\:bg-emerald-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(16 185 129 / var(--tw-bg-opacity))
}

.group:hover .group-hover\:text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}
